@{

    Layout = "~/Views/Shared/Layout.cshtml";
}

<div class="content">
    <div class="container">
        <div class="page">
            <div class="page__body">
                <div class="page__column">
                    <div class="page__menu">
                        <div class="page__menu-list">
                            <a href=@Url.Action("Index", "Home")>Главная</a>
                            <a href=@Url.Action("Products", "Products")>Каталог</a>
                            <a href=@Url.Action("AboutUs", "AboutUs")>О нас</a>
                            <a href=@Url.Action("Contacts", "Contacts")>Контакты</a>
                        </div>
                    </div>
                    <div class="about-us__pages">
                        <div class="about-us__title">
                            <h1>Отрасли применения</h1>
                        </div>
                        <div class="about-us__pages-industr">
                            <div class="about-us__page">
                                <div class="about-us__icon"><img src="@Url.Content("~/img/industr/obor.png")" alt=""></div>
                                <div class="about-us__icon-title">
                                    <a href="#obor">
                                        Оборонно-промышленный
                                        комплекс
                                    </a>
                                </div>
                            </div>
                            <div class="about-us__page">
                                <div class="about-us__icon"><img src="@Url.Content("~/img/industr/mashin.png")" alt=""></div>
                                <div class="about-us__icon-title">
                                    <a href="#mashin">
                                        Машиностроение
                                        и приборостроение
                                    </a>
                                </div>
                            </div>
                            <div class="about-us__page">
                                <div class="about-us__icon"><img src="@Url.Content("~/img/industr/electr.png")" alt=""></div>
                                <div class="about-us__icon-title"> <a href="#elec">Электроэнергетика </a></div>
                            </div>
                        </div>
                        <div class="about-us__pages-industr">
                            <div class="about-us__page">
                                <div class="about-us__icon"><img src="@Url.Content("~/img/industr/neft.png")" alt=""></div>
                                <div class="about-us__icon-title"> <a href="#neft">Нефтегазовый комплекс </a></div>
                            </div>
                            <div class="about-us__page">
                                <div class="about-us__icon"><img src="@Url.Content("~/img/industr/transp.png")" alt=""></div>
                                <div class="about-us__icon-title"><a href="#trans">Транспорт и логистика</a></div>
                            </div>
                            <div class="about-us__page">
                                <div class="about-us__icon"><img src="@Url.Content("~/img/industr/obr.png")" alt=""></div>
                                <div class="about-us__icon-title"><a href="#educat">Образование</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="industies">
    <div class="industies__oboron-bag" id="obor">
        <div class="container">
            <div class="industies__body">
                <div class="industies__title"><h1>Оборонно-промышленный <br> комплекс</h1></div>
                <div class="industies__info">
                    <p>Применение цифровых технологий, современных систем и подходов к управлению производственными процессами на предприятиях ОПК позволяет им осуществить органичный переход на новый уровень эффективности отрасли.</p>
                </div>
                <div class="industies__list">
                    <h2>Ключевые цели, которые ставят перед собой предприятия ОПК:</h2>
                    <ul>
                        <li>•  Повышение эффективности управления контрактами и проектами ГОЗ, ВТС, ГП</li>
                        <li>•  Формирование ресурсообоснованных графиков производства-поставок продукции и контроль их исполнения по всем уровням сети кооперации в реальном времени</li>
                        <li>•  Исполнение сроков ГОЗ, ВТС, ГП</li>
                        <li>•  Исполнение сроков ГОЗ, ВТС, ГП</li>
                        <li>•  Обеспечение информационной безопасности и развитие ИТ-инфраструктуры</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="industies">
    <div class="industies__mashin-bag">
        <div class="container">
            <div class="industies__body" id="mashin">
                <div class="industies__title">
                    <h1>
                        Машиностроение
                        и приборостроение
                    </h1>
                </div>
                <div class="industies__info">
                    <p>Конъюнктура сегодняшнего рынка позволяет машиностроению и приборостроению с каждым годом становиться все более перспективной отраслью в нашей стране. Только цифровое предприятие сможет лидировать на высококонкурентном рынке и сохранять оптимальные показатели маржинальности своей деятельности.</p>
                </div>
                <div class="industies__list">
                    <h2>Цифровая трансформация в данных отраслях нацелена на достижение следующих целей:</h2>
                    <ul>
                        <li>• Консолидация и обеспечение контроля и мониторинга финансово-хозяйственной деятельности</li>
                        <li>• Оптимизация внутренних производственных процессов и взаимодействия между цехами</li>
                        <li>• Повышение эффективности и производительности труда персонала и оборудования, управление производственными активами</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="industies">
    <div class="industies__elec-bag">
        <div class="container">
            <div class="industies__body" id="elec">
                <div class="industies__title"><h1>Электроэнергетика</h1></div>
                <div class="industies__info">
                    <p>Развитие энергетических предприятий требует внедрения качественных, безопасных и эффективных технологий, отвечающих строгим требованиям в области импортозамещения и стандартам отрасли.</p>
                    <p>Многие организации пересматривают свою ИТ-стратегию в пользу отечественного софта, имеющего более развитую локальную отраслевую практику и требующего гораздо меньших капиталовложений.</p>
                </div>
                <div class="industies__list">
                    <h2>Мы помогаем энергетическими гигантами России достигать высот в области:</h2>
                    <ul>
                        <li>• Эффективного управления активами и заказами</li>
                        <li>• Унификации и консолидации бизнес-процессов</li>
                        <li>• Создания пространства в области работы с заказчиками и контрагентами</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="industies">
    <div class="industies__neft-bag">
        <div class="container">
            <div class="industies__body" id="neft">
                <div class="industies__title"><h1>Нефтегазовый комплекс</h1></div>
                <div class="industies__info">
                    <p>Современная экономика диктует новые правила для нефтегазового бизнеса. Для успешной работы и сохранения конкурентоспособности компаниям необходимо избегать потери прибыли из-за нестабильных цен на нефть и газ и постоянно наращивать обороты выпуска и поставок.</p>
                    <p>Без цифровой трансформации взгляда на традиционные процессы это невозможно. Уже более 30 лет мы развиваем и совершенствуем свои продукты, чтобы они позволяли нашим клиентам из нефтегазового комплекса достигать максимальных результатов.</p>
                </div>
                <div class="industies__list">
                    <h2>Продукты корпорации «Галактика» решают широкий круг задач в нефтегазовой сфере:</h2>
                    <ul>
                        <li>• Финансовый контроль</li>
                        <li>• Управление месторождениями</li>
                        <li>• Создания пространства в области работы с заказчиками и контрагентами</li>
                        <li>• Интеграция и консолидация</li>
                        <li>• Анализ рисков</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="industies">
    <div class="industies__trans-bag">
        <div class="container">
            <div class="industies__body" id="trans">
                <div class="industies__title"><h1>Транспорт и логистика</h1></div>
                <div class="industies__info">
                    <p>Предприятиям транспортной отрасли требуется особый подход, выражающийся в эффективном симбиозе решения задач в области управления транспортом и управленческого учета. Мы предлагаем компаниям из транспортной сферы достигать новые высоты в бизнесе за счет автоматизации выполнения специализированных задач автотранспортной отрасли и оптимизации наиважнейших бизнес-процессов и операций.</p>

                </div>
                <div class="industies__list">
                    <h2>Продукты корпорации «Галактика» решают широкий круг задач в нефтегазовой сфере:</h2>
                    <ul>
                        <li>• Управление транспортом</li>
                        <li>• Активы</li>
                        <li>• Клиенты и поставщики</li>
                        <li>• Управление заказами</li>
                        <li>• Бухгалтерский учет и HR</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="industies">
    <div class="industies__educat-bag">
        <div class="container">
            <div class="industies__body" id="educat">
                <div class="industies__title"><h1>Образование</h1></div>
                <div class="industies__info">
                    <p>Современные учебные заведения России активно ведут процессы цифровой трансформации ключевых процессов управления своей деятельностью. Переход вузов на новые ступени развития требует внедрения надёжных информационных систем, отвечающих требованиям федеральных государственных образовательных стандартов и политике в области импортозамещения.</p>
                    <p>Специально созданный Экспертный центр корпорации «Галактика» по работе с вузами стал общероссийским центром сосредоточения опыта, знаний и компетенций по вопросам управления учебными заведениями. На сегодняшний день заказчиками корпорации «Галактика» являются более 50 ведущих вузов России.</p>
                    <p>Мы помогаем вузам  России в решении вопросов эффективного управления учебной и научной деятельностью, повышения эффективности управления финансово-хозяйственной деятельностью, создания пространства коммуникации всех участников учебного процесса, перехода на безбумажный документооборот, успешного прохождения аккредитации учебного заведения.</p>
                </div>
                <div class="industies__list">
                    <h2>Продукты Экспертного центра корпорации «Галактика» решают широкий спектр задач управления вузом:</h2>
                    <ul>
                        <li>• ПОРТАЛ УЧЕБНОГО ЗАВЕДЕНИЯ</li>
                        <li>• УЧЕБНАЯ ДЕЯТЕЛЬНОСТЬ</li>
                        <li>• ИМУЩЕСТВЕННЫЙ КОМПЛЕКС</li>
                        <li>• УЧЁТ</li>
                        <li>• ЭЛЕКТРОННЫЙ ДОКУМЕНТООБОРОТ</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
        </div>