@using Galaxy.Storage.Models
@using WebApplication1.Features.ViewModels
@{
    var editUser = ViewData["EditUser"] as EditUser;
    var productList = ViewData["ProductList"] as List<Product>;
}
@{

    Layout = "~/Views/Shared/Layout.cshtml";
}




<div class="content">
    <div class="container">
        <div class="page">
            <div class="page__body">
                <div class="page__column">
                    <div class="page__menu">
                        <div class="page__menu-list">
                            <a href=@Url.Action("Index", "Home")>Главная</a>
                            <a href=@Url.Action("Products", "Products")>Каталог</a>
                            <a href=@Url.Action("AboutUs", "AboutUs")>О нас</a>
                            <a href=@Url.Action("Contacts", "Contacts")>Контакты</a>
                        </div>
                    </div>
                    <div class="page__info">
                        <div class="page__info-content">

                            <div class="page__info-title">
                                <h1>Разработка компьютерного <br> программного обеспечения</h1>
                            </div>
                            <div class="page__info-text">
                                <div class="page__info-text-p">
                                    <p>Корпорация «Галактика» — российский разработчик национальной платформы цифровизации для крупных предприятий, холдингов и государственных корпораций и бизнес-приложений по планированию и управлению производством, производственными активами и надежностью.</p>
                                    <p>«Галактика» создает ИТ-решения, которые позволяют нашим заказчикам повышать конкурентоспособность России и способствуют её переходу к цифровой экономике.</p>
                                    <p>Корпорация «Галактика» – ведущий российский разработчик комплексного программного обеспечения для управления предприятиями, работающий с 1987 года. Наше ПО охватывает ERP- и EAM-решения, активно поддерживая российские предприятия и способствуя их цифровой трансформации. Сотрудничество с промышленными и государственными организациями, а также ориентир на импортозамещение позволяют нам эффективно отвечать на запросы экономики. Наши решения помогают компаниям стать более устойчивыми и продуктивными в быстро меняющемся мире.</p>
                                </div>
                            </div>
                            <div class="page__link-to-aboutus">
                                <a href=@Url.Action("AboutUs", "AboutUs")>
                                    Подробнее
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="slider-container">
            <div class="slider">
                <div class="slides">
                    @for(int i = 0; i < productList.Count(); i++)
                    {
                        <div class="slide">
                            <img src="@Url.Content(productList[i].ProductImgUrl)" alt="consalting">
                            <a href="@Url.Action(productList[i].ProductUrl, "Products")"><p class="caption">@productList[i].ProductName</p></a>
                        </div>
                    }
                </div>
                <div class="controls">
                    <button onclick="prevSlide()">&#10094;</button>
                    <button onclick="nextSlide()">&#10095;</button>
                </div>
                <div class="indicators">
                    @for (int i = 0; i < productList.Count(); i++)
                    {
                        <button onclick="showSlide(@i)"></button>
                    }
                </div>
            </div>
        </div>
        @if (Context.Request.Cookies.ContainsKey("auth_cookie"))
        {
        <div class="guest">
            <div class="guest__body">
                <div class="guest__form">
                    <div class="guest__title">
                        <h1>@editUser.ClientName, оставьте отзыв о нашей компании</h1>
                    </div>
                    @using (Html.BeginForm("SubmitReview", "Home", FormMethod.Post))
                    {
                        <form>
                            <div class="form-group">
                                <label for="review">Отзыв</label>
                                <textarea placeholder="Мне очень нравится ваш продукт :)" id="review" name="review" rows="5" required></textarea>
                            </div>
                            <div class="form-group">
                                <input type="checkbox" id="publish" name="publish" value="true">
                                <label for="publish">Хочу, чтобы отзыв был опубликован</label>
                            </div>
                            <div class="form-group">
                                <button type="submit">Отправить</button>
                            </div>
                        </form>
                    }
                    <!-- Вывод сообщения об успешной отправке -->
                    @if (TempData["Message"] != null)
                    {
                        <div class="success-message">@TempData["Message"]</div>
                    }
                </div>
            </div>
        </div>
        }
    </div>
</div>
<script src="~/js/slider.js"></script>